# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Set the default tab size to 2 spaces
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
